//
// components.scss
//

//Buttons
@each $name,
$value in $colors {
    .btn-#{$name} {
        background-color: #{$value} !important;
        border: 1px solid #{$value} !important;
        color: $dark !important;
        box-shadow: 0 3px 5px 0 rgba($value, 0.3);
        &:hover, &:focus, &:active, &.active, &.focus{
            background-color: darken($value, 10%) !important;
            border-color: darken($value, 10%) !important;
            color: $dark !important;
        }
    }

    .btn-outline-#{$name} {
        border: 1px solid #{$value};
        color: #{$value};
        background-color: transparent;    
        &:hover, &:focus, &:active, &.active, &.focus, &:not(:disabled):not(.disabled):active{
            background-color: #{$value};
            border-color: #{$value};
            color: $dark !important;
            box-shadow: 0 3px 5px 0 rgba($value, 0.3);
        }
    }
}
.btn {
    &.btn-dark {
        color: $white !important;
        background: $dark;
        border: 1px solid $gray-100 !important;
        &:hover, &:focus, &:active, &.active, &.focus {
            background-color: darken($dark, 5%) !important;
            color: $white !important; 
        }
    }   
    &.btn-outline-dark {
        border: 1px solid $gray-100 !important;
        color: $dark !important;
        background-color: transparent;    
        &:hover, &:focus, &:active, &.active, &.focus {
            background-color: $dark !important;
            color: $white !important;
        }
    }
    &.btn-light {
        color: $dark !important;
        border-color: $gray-200 !important;
        &:hover, &:focus, &:active, &.active, &.focus{
            background-color: lighten($light, 10%) !important;
            color: $dark !important;
        }
    }    
    &.btn-outline-light {
        border-color: $gray-200 !important;
        color: $dark !important;
        &:hover, &:focus, &:active, &.active, &.focus{
            background-color: lighten($light, 10%) !important;
            color: $dark !important;
        }
    }
}

button:not(:disabled) {
    outline: none;
}
//Shadow 
.shadow {
    box-shadow: $shadow !important;
}

.shadow-lg {
    box-shadow: $shadow-lg !important;
}

//Badges
@each $name,
$value in $colors {
    .badge-#{$name} {
        background-color: #{$value} !important;
        color: $dark !important;
    }

    .badge-outline-#{$name} {
        background-color: transparent !important;
        color: #{$value} !important;
        border: 1px solid #{$value} !important;
    }
}
.badge {
    &.badge-dark {
        color: $white !important;
        background-color: $dark !important;
    }
    &.badge-outline-dark {
        color: $dark !important;
        border: 1px solid darken($dark, 20%) !important;
        background-color: transparent !important;
    }
    &.badge-light {
        color: $dark !important;
        background-color: $light !important;
    }
    &.badge-outline-light {
        border: 1px solid $light !important;
    }
}

//Alert
@each $name,
$value in $colors {
    .alert-#{$name} {
        background-color: lighten($value, 5%);
        color: $dark;
        border-color: $value;
        .alert-link {
            color: darken($value, 30%);
        }
    }
    .alert-outline-#{$name} {
        background-color: $white;
        color: $value;
        border-color: $value;
    }
}
.alert {
    &.alert-dark {
        background-color: $dark;
        color: $light;
        border-color: $gray-100;
    }
    &.alert-light {
        background-color: $light;
        color: $dark;
        border-color: $light;
    }
}
// Breadcrumb
.page-next-level{
    .page-next {
        li {
            &:after {
                color: $dark; 
            }     
        }
    }
}

//Pagination
.pagination {
    li {
        a {
            color: $dark;
            border: 1px solid $gray-100;
            background: $white; 
            &:hover {
                background: $gray-100;
                border-color: $gray-100;
            }
        }
    }              
    .active a {
        color: $dark !important;
    }
}


//Accordion
.accordion {
    .accordion-item {
        background-color: transparent;
        .accordion-button {
            text-align: right !important;
            &.collapsed {
                background-color: $white;
                color: $dark !important;
                &:before {
                    color: $dark !important;
                }
            }
        }
    }
}

.feature-posts-placeholder {
    background-color: $light;
}

//Nav
.nav-pills {
    background: lighten($white, 10%);
    .nav-link{
        color: $dark !important;
        &:hover {
            background: lighten($white, 8%);
        }
        &.active {
            color: $dark !important;
        }
    }
}

//Processbar
.progress-box {
    .progress {
        background: $gray-100;
    }
}

//blockquote
.blockquote {
    border-left: 3px solid $gray-300;
    border-radius: 6px;
    font-size: 16px;
}

//Form
.form-control {
    background-color: $white;
    border: 1px solid $gray-200;
    color: $gray-300;
    &::placeholder{
        color: $gray-300;
    }
} 

.form-check-input {
    background-color: $white;
    border-color: $gray-200;
}

.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before,
.custom-switch .custom-control-label::before,
.custom-control-input:disabled~.custom-control-label::before, .custom-control-input[disabled]~.custom-control-label::before {
    background: $white;
}

//Subscribe form
.subcribe-form {
    input {
        background-color: rgba($white, 0.8);
    }
}

//Modal
.modal-content {
    background: $white;
    .modal-header {
        button {
            &.close {
                color: $dark;
            }
        }
    }
    .modal-header,
    .modal-footer {
        border-color: $gray-200;
    }
}
.modal-open {
    padding-right: 0 !important;
}

// Loader
#preloader {
    background-image: linear-gradient(45deg, $white, $white);
}

//Social icons
.social-icon {
    li {
        a {
            color: $dark;
            border: 1px solid $dark;
            &:hover {
                color: $dark !important;
            }
        }
    }
    &.social {
        li {
            a {
                color: $gray-300;
                border-color: $gray-300;
            }
        }
    }
}

//back to top
.back-to-top {
    color: $dark;
    background-color: $white;
    box-shadow: $shadow;
    &:hover {
        color: $white;
    }
}

//
// features.scss
//
.feature {
    &:hover {
        background: $white;
        box-shadow: $shadow;
        transform: translateY(-7px);
    }
}

//
// blog.scss
//
.blog-post {
    &:hover {
        box-shadow: $shadow;
    }
}
.sidebar {
    .widget {
        input {
            background-color: $white !important;
        }
        .catagory{
            li {
                a {
                    color: $dark;
                }
            }
        }      
        .post-recent {
            .post-recent-content {
                a {
                    color: $dark;
                }
            }
        }
        .tagcloud {
            > a {
                background: $light;
                color: $dark;
                &:hover {
                    color: $dark;
                }
            }
        }
    }
}
.media-list {
    .sub-comment {
        border-color: $gray-100;
    }
}


//
// specialpages.scss
//
//page-comingsoon.html
#countdown {
    .count-down {
        color: $white;
    }
}

//page-maintenance.html
#clock {
    color: $white;
}

//page-404.html
.error-page {
    font-size: 170px;
    text-shadow: rgba($dark, 0.4) 2px 2px, rgba($dark, 0.3) 3px 3px, rgba($dark, 0.4) 4px 4px;
    letter-spacing: 1.5px;
}


//CTA
.play-btn {
    color: $white;
}

//Features
//index-crypto.html and index-course.html
.crypto-table, .course-feature {
    box-shadow: $shadow;
}

//index-job.html
.catagories {
    &:hover {
        box-shadow: $shadow;
    }
}

//
// footer.scss
//
.footer {
    color: $gray-300 !important;
    .logo-footer {
        &.text-light {
            color: $dark !important;
        }
    }
    .footer-head {
        color: $gray-500 !important;
    }
    .text-foot {
        color: $gray-300 !important;
    }
    .footer-list {
        li {
            a {
                &:hover {
                    color: $primary !important;
                }
            }   
        }
    }    
    &.footer-bar {
        border-top: 1px solid lighten($footer, 3%);
    }
}

//Home(Hero section)
.home-shape-arrow {
    i {
        background: $white;
        box-shadow: 0 0 5px rgba($dark, 0.15);
    }
}
//Agency
.agency-wrapper {
    &:before {
        background-color: $light;
    }
}

.flex-control-paging li a{
    background: $white;
}
.bg-animation-left {
    &:after {
        background: rgba($white, 0.85) !important;
    }
    &.dark-left {
        &:after {
            background: rgba($white, 0.6) !important;
        }
    }
}

.bg-cta-dark {
    background-color: $light !important;
}

//
// price.scss
//
.pricing-plan {
    &:hover {
        box-shadow: $shadow;
        .plan-detail {
            background: $white !important;
        }
    }
    .rates {
        &:hover {
            background: $white !important;
        }
    }
} 

//
// team.scss
//
.team {
    &:hover {
        box-shadow: $shadow;
    }
    .team-social {
        li {
            a {
                color: $gray-100;
                border-color: $gray-100;
            }
        }
    }
}

//Testi
.customer-testi {
    .content {
        &:before {
            border: 8px solid $dark;
            border-color: transparent $white $white transparent;
            box-shadow: 2px 2px 2px -1px rgba($dark, 0.15);
        }
    }
}

//Work / Portfolio
.work-container, .courses-desc {
    .overlay-work {
        background-color: $dark;
    }
}
.portfolio {
    &:hover {
        .overlay {
            background-color: rgba($white, 0.8);
        }
    }
}
//Event (index-event.html)
.event-schedule {
    .date {
        .day {
            border: 2px solid $white;
        }
    }
    &:hover {
        box-shadow: $shadow;
        background: $light !important;
    }
}

//course.html
.courses-desc {
    &:hover {
        box-shadow: $shadow;
    }
}

//back-to-home
.back-to-home {
    i {
        color: $dark;
    }
}

// Responsive 
@media (min-width: 769px){    
    //studio 
    .bg-studio {
        &:after{
            background: $white none repeat scroll 0 0;
        }
    }
}